<!DOCTYPE HTML>
<!--
	Hielo by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Hielo by TEMPLATED</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}" />
	</head>
	<body>

		<!-- Header -->
			<header id="header" class="alt">
				<div class="logo"><a href="index.html">Hielo <span>by TEMPLATED</span></a></div>
				<a href="#menu">Menu</a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="index.html">Home</a></li>
					<li><a href="generic.html">Generic</a></li>
					<li><a href="elements.html">Elements</a></li>
				</ul>
			</nav>

		<!-- Banner -->
			<section class="banner full">
				<article>
					<img src="{{url_for('static',filename='images/cean.jpg')}}" alt="" />
					<div class="inner">
						<header>
							<p>Organizations protecting our Ocean</p>
							<h2>Clean Ocean</h2>
						</header>
					</div>
				</article>
				<article>
					<img src="{{url_for('static',filename='images/cleaningocean.jpg')}}" alt="" />
					<a href="https://theoceancleanup.com/oceans/">
						<div class="inner">
							<header>
								<p>CLEANING UP THE GARBAGE PATCHES</p>
								<h2>THE OCEAN CLEANUP</h2>
							</header>
						</div>
					</a>
				</article>
				<article>
					<img src="{{url_for('static',filename='images/4oceanclean.jpg')}}"  alt="" />
					<a href = "https://www.4ocean.com/pages/about">
						<div class="inner">
							<header>
								<p>Cleaning the ocean, rivers, and coastlines, one pound at a time</p>
								<h2>4ocean</h2>
							</header>
						</div>
					</a>
				</article>
				<article>
					<img src="{{url_for('static',filename='images/adsurfrider.jpg')}}"  alt="" />
					<a href="https://www.surfrider.org/?gclid=CjwKCAiA_Kz-BRAJEiwAhJNY73ZzOxhmbdj2urngFAlf_cvRpSVQuf3GQJF9kctVsJDLtJq7_0k3qBoCfScQAvD_BwE">
						<div class="inner">
							<header>
								<p>Together We Can Protect Our Coasts</p>
								<h2>Surf Rider Foundation</h2>
							</header>
						</div>
					</a>
				</article>
				<article>
					<img src="{{url_for('static',filename='images/oceana.jpg')}}"  alt="" />
						<a href="https://oceana.org/?ea.tracking.id=website&utm_campaign=FR&utm_content=donate&utm_source=website&utm_medium=website&gclid=CjwKCAiA_Kz-BRAJEiwAhJNY72wLPwORpY7NToz5sraB7GkC1E1qPGkCo7SXGJOURCI3C5-12zjfBhoC9TgQAvD_BwE">
							<div class="inner">
								<header>
									<p>SAVE THE OCEANS, FEED THE WORLD.</p>
									<h2>OCEANA</h2>
								</header>
							</div>
						</a>
				</article>
			</section>

		<!-- One -->
			<section id="one" class="wrapper style2">
				<div class="inner">
					<div class="grid-style">
						<div>
							<div class="box">
								<div class="image fit">
									<img src="{{url_for('static',filename='images/OceanaBoat.jpg')}}"" alt="" />
								</div>
								<div class="content">
									<header class="align-center">
										<p>Protecting the World's Oceans</p>
										<h2>Oceana</h2>
									</header>
									<p>For the past 19 years Oceana has been fighting for policies that will make our ocean more diverse and abundant.Oceania has offices throughout the world that are fighting for clean oceans. They do this by creating campaigns that will help to restore oceans with this they also do extensive research to find the extant problems they should tackle. In order for their policies to take place they have a team of economists, lawyers and communicators that help them achieve their goals for the ocean.</p>
									<footer class="align-center">
									<a href="https://oceana.org/?ea.tracking.id=website&utm_campaign=FR&utm_content=donate&utm_source=website&utm_medium=website&gclid=CjwKCAiA_Kz-BRAJEiwAhJNY72wLPwORpY7NToz5sraB7GkC1E1qPGkCo7SXGJOURCI3C5-12zjfBhoC9TgQAvD_BwE" class="button alt">Learn More</a>
									</footer>
								</div>
							</div>
						</div>
						<div>
							<div class="box">
								<div class="image fit">
									<img src="{{url_for('static',filename='images/cleaningocean.jpg')}}" alt="" />
								</div>
								<div class="content">
									<header class="align-center">
										<p>CLEANING UP THE GARBAGE PATCHES</p>
										<h2>The Ocean Cleanup</h2>
									</header>
									<p> “The Ocean Cleanup is a bold idea to confront the significant challenge of restoring our ocean ecosystem. This is a unique opportunity to profoundly impact our environment, pursuing an ambitious solution to remove plastic waste from our oceans with significant benefits for wildlife, the food chain and community health.
										”-Mary Reemst, Chair, Macquarie Group Foundation</p>
									<footer class="align-center">
									<a href="https://theoceancleanup.com/oceans/" class="button alt">Learn More</a>
									</footer>
								</div>
							</div>
						</div>
						<div>
							<div class="box">
								<div class="image fit">
									<img src="{{url_for('static',filename='images/adsurfrider.jpg')}}" alt="" />
								</div>
								<div class="content">
									<header class="align-center">
										<p>The seas are rising and so are we</p>
										<h2>Surf Rider Foundation</h2>
									</header>
									<p> Surf Riders are determined to protect the ocean in order for the public to be able to enjoy it. They do this by tackling issues that threaten beaches and the right for everyone to be able to enjoy beaches. Surf riders also help defend our wild life in the ocean by trying to reduce the amount of plastic in the ocean. They have been very successful with there efforts with a total of 176 chapters and student clubs along with over 182,000 volunteer hours in 2019.</p>
									<footer class="align-center">
									<a href="https://www.surfrider.org/?gclid=CjwKCAiA_Kz-BRAJEiwAhJNY73ZzOxhmbdj2urngFAlf_cvRpSVQuf3GQJF9kctVsJDLtJq7_0k3qBoCfScQAvD_BwE" class="button alt">Learn More</a>
									</footer>
								</div>
							</div>
						</div>
						<div>
							<div class="box">
								<div class="image fit">
									<img src="{{url_for('static',filename='images/4oceanclean.jpg')}}"" alt="" />
								</div>
								<div class="content">
									<header class="align-center">
										<p>Protecting the World's Oceans</p>
										<h2>4Ocean</h2>
									</header>
									<p>This company was founded by two people who had traveled to Bali and were shocked by the amount of plastic that was found on the beaches. This made them see just how big of a problem the ocean plastic crisis was. They decided to make and sell bracelets that are made from plastic that was pulled from the ocean. For every product that is bought, it helps to remove one pound of trash from the ocean as well as rivers or coastlines. </p>
									<footer class="align-center">
										<a href="https://www.4ocean.com/pages/about" class="button alt">Learn More</a>
									</footer>
								</div>
							</div>
					
						</div>
					</div>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper style3">
				<div class="inner">
					<header class="align-center">
						<p>Support in anyway you can</p>
						<h2>PLEASE DONATE TO THESE ORGANIZATIONS</h2>
						<a href="https://www.4ocean.com/collections/shop-all" class="button alt">Donate to 4Ocean</a>
						<a href="https://act.oceana.org/page/54142/donate/1?ea.tracking.id=website&_ga=2.96445407.2140623933.1607287029-1147630087.1607287029&_gac=1.54685017.1607300766.CjwKCAiA_Kz-BRAJEiwAhJNY72wLPwORpY7NToz5sraB7GkC1E1qPGkCo7SXGJOURCI3C5-12zjfBhoC9TgQAvD_BwE" class="button alt">Donate to Oceana</a>
						<a href="https://theoceancleanup.com/donate/" class="button alt">Donate to Ocean Cleanup</a>
						<a href="https://theoceancleanup.com/donate/" class="button alt">Donate to Surf Rider</a>
					</header>
				</div>
			</section>

		<!-- Three -->
			<section id="three" class="wrapper style2">
				<div class="inner">
					<header class="align-center">
						<p class="special"> Together we can save the ocean </p>
						<h2>Ways You Can Help At Home</h2>
					</header>
					<div class="gallery">
						<div>
							<div class="image if">
								<a href="#"><img src="{{url_for('static',filename='images/LeaveNothingBehind.jpg')}}" alt="" /></a>
							</div>
						</div>
						<div>
							<div class="image if">
								<a href="#"><img src="{{url_for('static',filename='images/ReduceCarbonFootprint.jpg')}}" alt="" /></a>
							</div>
						</div>
						<div>
							<div class="image if">
								<a href="#"><img src="{{url_for('static',filename='images/UsePlastic-FreeAlteratives.jpg')}}" alt="" /></a>
							</div>
						</div>
						<div>
							<div class="image if">
								<a href="#"><img src="{{url_for('static',filename='images/DonateVolunteer.jpg')}}" alt="" /></a>
							</div>
						</div>
					</div>
				</div>
			</section>


		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="icons">
						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
					</ul>
				</div>
				<div class="copyright">
					&copy; Untitled. All rights reserved.
				</div>
			</footer>

		<!-- Scripts -->
			<script src="{{url_for('static',filename='js/jquery.min.js')}}"></script>
			<script src="{{url_for('static',filename='js/js/jquery.scrollex.min.js')}}"></script>
			<script src="{{url_for('static',filename='js/skel.min.js')}}"></script>
			<script src="{{url_for('static',filename='js/util.js')}}"></script>
			<script src="{{url_for('static',filename='js/main.js')}}"></script>

	</body>
</html>