<!DOCTYPE HTML>
<!--
	Hielo by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Hielo by TEMPLATED</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}" />
	</head>
	<body>

		<!-- Header -->
			<header id="header" class="alt">
				<div class="logo"><a href="index.html">Hielo <span>by TEMPLATED</span></a></div>
				<a href="#menu">Menu</a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="index.html">Home</a></li>
					<li><a href="generic.html">Generic</a></li>
					<li><a href="elements.html">Elements</a></li>
				</ul>
			</nav>

		<!-- Banner -->
			<section class="banner full">
				<article>
					<img src="{{url_for('static',filename='images/cean.jpg')}}" alt="" />
					<div class="inner">
						<header>
							<p>Organizations protecting our Ocean</p>
							<h2>Clean Ocean</h2>
						</header>
					</div>
				</article>
				<article>
					<img src="{{url_for('static',filename='images/cleaningocean.jpg')}}" alt="" />
					<a href="https://theoceancleanup.com/oceans/">
						<div class="inner">
							<header>
								<p>CLEANING UP THE GARBAGE PATCHES</p>
								<h2>THE OCEAN CLEANUP</h2>
							</header>
						</div>
					</a>
				</article>
				<article>
					<img src="{{url_for('static',filename='images/4oceanclean.jpg')}}"  alt="" />
					<a href = "https://www.4ocean.com/pages/about">
						<div class="inner">
							<header>
								<p>Cleaning the ocean, rivers, and coastlines, one pound at a time</p>
								<h2>4ocean</h2>
							</header>
						</div>
					</a>
				</article>
				<article>
					<img src="{{url_for('static',filename='images/adsurfrider.jpg')}}"  alt="" />
					<a href="https://www.surfrider.org/?gclid=CjwKCAiA_Kz-BRAJEiwAhJNY73ZzOxhmbdj2urngFAlf_cvRpSVQuf3GQJF9kctVsJDLtJq7_0k3qBoCfScQAvD_BwE">
						<div class="inner">
							<header>
								<p>Together We Can Protect Our Coasts</p>
								<h2>Surf Rider Foundation</h2>
							</header>
						</div>
					</a>
				</article>
				<article>
					<img src="{{url_for('static',filename='images/oceana.jpg')}}"  alt="" />
						<a href="https://oceana.org/?ea.tracking.id=website&utm_campaign=FR&utm_content=donate&utm_source=website&utm_medium=website&gclid=CjwKCAiA_Kz-BRAJEiwAhJNY72wLPwORpY7NToz5sraB7GkC1E1qPGkCo7SXGJOURCI3C5-12zjfBhoC9TgQAvD_BwE">
							<div class="inner">
								<header>
									<p>SAVE THE OCEANS, FEED THE WORLD.</p>
									<h2>OCEANA</h2>
								</header>
							</div>
						</a>
				</article>
			</section>

		<!-- One -->
			<section id="one" class="wrapper style2">
				<div class="inner">
					<div class="grid-style">

						<div>
							<div class="box">
								<div class="image fit">
									<img src="{{url_for('static',filename='images/cleaningocean.jpg')}}" alt="" />
								</div>
								<div class="content">
									<header class="align-center">
										<p>CLEANING UP THE GARBAGE PATCHES</p>
										<h2>The Ocean Cleanup</h2>
									</header>
									<p> “The Ocean Cleanup is a bold idea to confront the significant challenge of restoring our ocean ecosystem. This is a unique opportunity to profoundly impact our environment, pursuing an ambitious solution to remove plastic waste from our oceans with significant benefits for wildlife, the food chain and community health.
										”-Mary Reemst, Chair, Macquarie Group Foundation</p>
									<footer class="align-center">
										<a href="#" class="button alt">Learn More</a>
									</footer>
								</div>
							</div>
						</div>

						<div>
							<div class="box">
								<div class="image fit">
									<img src="images/pic03.jpg" alt="" />
								</div>
								<div class="content">
									<header class="align-center">
										<p>mattis elementum sapien pretium tellus</p>
										<h2>Vestibulum sit amet</h2>
									</header>
									<p> Cras aliquet urna ut sapien tincidunt, quis malesuada elit facilisis. Vestibulum sit amet tortor velit. Nam elementum nibh a libero pharetra elementum. Maecenas feugiat ex purus, quis volutpat lacus placerat malesuada.</p>
									<footer class="align-center">
										<a href="#" class="button alt">Learn More</a>
									</footer>
								</div>
							</div>
						</div>

					</div>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper style3">
				<div class="inner">
					<header class="align-center">
						<p>Nam vel ante sit amet libero scelerisque facilisis eleifend vitae urna</p>
						<h2>Morbi maximus justo</h2>
					</header>
				</div>
			</section>

		<!-- Three -->
			<section id="three" class="wrapper style2">
				<div class="inner">
					<header class="align-center">
						<p class="special">Nam vel ante sit amet libero scelerisque facilisis eleifend vitae urna</p>
						<h2>Morbi maximus justo</h2>
					</header>
					<div class="gallery">
						<div>
							<div class="image fit">
								<a href="#"><img src="{{url_for('static',filename='images/slide01.jpg')}}" alt="" /></a>
							</div>
						</div>
						<div>
							<div class="image fit">
								<a href="#"><img src="{{url_for('static',filename='images/slide01.jpg')}}" alt="" /></a>
							</div>
						</div>
						<div>
							<div class="image fit">
								<a href="#"><img src="{{url_for('static',filename='images/slide01.jpg')}}" alt="" /></a>
							</div>
						</div>
						<div>
							<div class="image fit">
								<a href="#"><img src="images/pic04.jpg" alt="" /></a>
							</div>
						</div>
					</div>
				</div>
			</section>


		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="icons">
						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
					</ul>
				</div>
				<div class="copyright">
					&copy; Untitled. All rights reserved.
				</div>
			</footer>

		<!-- Scripts -->
			<script src="{{url_for('static',filename='js/jquery.min.js')}}"></script>
			<script src="{{url_for('static',filename='js/js/jquery.scrollex.min.js')}}"></script>
			<script src="{{url_for('static',filename='js/skel.min.js')}}"></script>
			<script src="{{url_for('static',filename='js/util.js')}}"></script>
			<script src="{{url_for('static',filename='js/main.js')}}"></script>

	</body>
</html>